@import "./styles/mixins"

.container 
  display: flex
  font-size: 16px
  width: 100%
  @include font-roboto(400)
  
  .left-side
    max-width: 680px
    padding: 40px 0 40px 134px

  .right-side
    width: 480px
    background: #f8f8f8
    margin-left: auto
    
  
 


    
     
    


