@import "./styles/mixins"

.container 
  display: flex
  font-size: 16px
  max-width: 100vw
  width: 100%
  @include font-roboto(400)

  .left-side
    max-width: 680px
    padding: 40px 0 40px 134px

  .right-side
    width: 480px
    background: #f8f8f8
    margin-left: auto
  
  @media screen and (max-width: 1370px)
    .left-side
      max-width: 754px
    
    .left-side.bg-black
      position: fixed
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      z-index: 10
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease
      

    .right-side
      width: 122px
      height: 28px
      background: #fff

    
     
    


